
<h3 class="top">Other Existences</h3>
<ul class="existences">
  <li><a href="http://www.linkedin.com/in/jamesgibson" class="linkedin">Linked In</a></li>
  <li><a href="http://www.facebook.com/profile.php?id=686499288" class="facebook">Facebook</a></li>
  <li><a href="http://del.icio.us/liferealized" class="delicious">del.icio.us</a></li>
  <li><a href="http://www.myspace.com/jamestgibson" class="delicious">My Space</a></li>
</ul>