<h1><%= $page_title %></h1>
<div class="summary">Below is the list of weblog posts composed by <%= get_author_name(params[:id]) %>.</div>
<%# loop through and show posts -%>
<% for post in @posts -%>
    <%= render :partial => 'posts/item', :locals => {:post => post} %>
<% end -%>