<h1><%= $page_title %></h1>
<div class="summary">Below is the list of weblog entries tagged with "<%= params[:tag] %>".</div>
<%# loop through and show posts -%>
<% for post in @posts -%>
    <%= render :partial => 'posts/item', :locals => {:post => post} %>
<% end -%>