<h1>The Archives</h1>
<div class="summary">Here's a list of all posts available at this site, ordered chronologically newest 
  to oldest. Monthly archives are also available.</div>
<div id="content">
  <%= Site.archives_structure_linked(@posts, 3, true) %>
</div>