<h1>List 'O Tags</h1>
<div class="summary">Here's a list of all tags available at this site, ordered alphabetically.</div>
<div id="content">
  <p><%= Site.list_tags_linked(@tags, '', '') %></p>
</div>